# AWS
.aws-sam
template.yaml

# Mac stuff
.DS_Store/

# Environment
.env

# Python
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Rough working
scrap.ipynb

# Pickles
*.pkl

# Poetry
poetry.lock

# VScode
.vscode
